@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,600;1,9..40,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: "DM Sans", system-ui, sans-serif;
    line-height: 1.5;
    font-weight: 600;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  #root {
    padding: 0;
    margin: 0 auto;
    min-width: 320px;
    min-height: 100vh;
    @apply bg-pallete-dark;
  }

  body {
    margin: 0 auto;
    padding: 0;
    display: flex;
    place-items: center;
    width: 100%;
    min-height: 100vh;
    @apply bg-pallete-dark;
  }
}

@layer components {
  .text-heading {
    @apply text-4xl;
    font-size: 2rem;

  }

  .text-body {
    @apply text-base text-pallete-grey;

  }

  .text-label {
    @apply text-sm;
  }

  .text-small-text {
    @apply text-xs;
    font-size: 0.625rem;
  }

  .text-price {
    @apply text-xs;
  }

  .badge {
    @apply inline-flex items-center gap-x-1.5 py-1 px-4 rounded-full text-xs bg-pallete-yellow text-pallete-lightDark font-bold;
  }

  .button-active{
    @apply bg-pallete-grey rounded-md py-2 px-4

  }
}

@layer utilities {
  .hero-image {
    @apply md:max-w-full;
    background-image: url("assets/bg-cafe.jpg");
    background-repeat: no-repeat;
    background-size: 100% 75%;
    width: 100vw;
    height: 50vh;
  }

  .spinner {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: radial-gradient(farthest-side, #f6c768 94%, #0000) top/6.4px 6.4px no-repeat,
      conic-gradient(#0000 30%, #f6c768);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 6.4px), #000 0);
    animation: spinner-c7wet2 1s infinite linear;
  }

  @keyframes spinner-c7wet2 {
    100% {
      transform: rotate(1turn);
    }
  }
}